.DS_Store
build
lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
_book

pids
logs
results

yarn.lock
npm-shrinkwrap.json
npm-debug.log
node_modules
*.sublime*
*.node
coverage
*.orig
.idea
sandbox
docs
package-lock.json
